/* @import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Neonderthaw&display=swap"); */

body {
    background: #b4eeca;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color: brown;
    font-family: 'Neonderthaw', cursive;
    display: flex;
    justify-content: center;
}
.center-position {
    display: flex;
    justify-content: center;
}

form {
    display: flex;

    justify-content:center;
}

.margin-right {
    margin-right: 30px;
}

.margin-left {
    margin-left: 30px;
}





section {
    border-style: groove;
    border-color: brown;
    width: 95%
}

table {
    width: 90%;
}


thead {
    text-align: left;
}

tr {
    display: flex;
    justify-content: space-between;
}


label {
    display: block;
}

#submit-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
}